.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding: 0px clamp(16px, 4vw, 32px) 32px;
}

.imageWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

@media (max-width: 1024px) {
    .gridContainer {
        grid-template-columns: 1fr;
        padding: 20px;
        gap: 18px;
    }
}